@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --body-color: #f5f5f5;
    --header-color: #0f1626;
    --logo-color: #f5f5f5;
    --aside-color: #18243f;
    --aside-hover-color: #ff533d;
    --text-color: #000000;
    --col-20: #ffffff;
}

/* Tema întunecată */
:root.dark-theme {
    --body-color: #181818;
    --header-color: #222;
    --logo-color: #ffffff;
    --aside-color: #252525;
    --aside-hover-color: #ff533d;
    --text-color: #e0e0e0;
    --col-20: #00000000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}

header {
    height: 70px;
    background-color: var(--header-color);
    color: var(--text-color);
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 24px;
}

.theme-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10000;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #000000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.logo {
    color: var(--logo-color);
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

.page-container {
    min-height: 100vh;
    padding-top: 70px;
}

main {
    margin: 10px 10% 60px 220px;
    padding: 0px 25px;
}

aside {
    width: 190px;
    height: 100vh;
    position: fixed;
    background: var(--aside-color);
    padding-top: 10px;
    font-size: 20px;
    transition: background-color 0.5s ease;
}

aside:hover {
    background-color: var(--aside-hover-color);
}

aside a {
    display: block;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
}

p {
    line-height: 170%;
    border-left: 6px solid #ff533d;
    padding-left: 12px;
}

.row {
    overflow: auto;
}

[class^="col-"] {
    float: left;
    padding: 5px;
}

.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-30 { width: 30%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-70 { width: 70%; }
.col-80 { width: 80%; }
.col-90 { width: 90%; }
.col-100 { width: 100%; }

.title {
    border-bottom: 4px solid #ff533d;
    margin-bottom: 5px;
    margin-top: 10px;
    display: inline-block;
}

.intro-video {
    display: block;
    max-height: 50vh;
    margin: 40px auto;
    max-width: 100%;
    border-radius: 8px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.row-event {
    margin-top: 20px;
}

.event {
    padding: 0px 15px 15px 15px;
    background-color: #e9e9e9;
    border-radius: 5px;
    border: 1px solid #ff533d;
    height: 250px;
    overflow-y: scroll;
}

.dark-theme .event {
    background-color: #252525;
}

.contact-list {
    line-height: 200%;
    list-style: linear-gradient(#ff533d, #ff533d);
}

.map {
    width: 100%;
    max-width: 500px;
    height: 324px;
    border-radius: 5px;
    border: 2px solid #ff533d !important;
}

.centered {
    text-align: center;
}

.contact-form {
    background-color: #ebebeb;
    border-radius: 5px;
    border: 2px solid #ff533d;
    max-width: 500px;
    padding: 5px 15px 30px 15px;
}

.dark-theme .contact-form {
    background-color: #252525;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 90%;
    margin: 15px auto 0px auto;
    resize: none;
    font-family: inherit;
    padding: 3px;
    font-size: 16px;
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    [class^="col-"] {
        width: 100%;
    }

    main {
        margin: 0;
        padding: 10px 15px 20px 15px;
    }

    aside {
        position: relative;
        height: auto;
        width: 100%;
        padding: 10px 0 25px;
        background: var(--aside-color);
        transition: all ease 0.5s;
    }

    aside:hover {
        background-color: var(--aside-hover-color);
    }

    .gallery img {
        width: 130px;
        height: 130px;
    }
}

/* Animație fotbal */
.play-football {
    position: relative;
    height: 200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ronaldo, #messi {
    width: 100px;
    height: auto;
}

#ball {
    width: 50px;
    height: auto;
    position: relative;
    animation: passBall 2s infinite linear, scaleBall 2s infinite linear;
}

@keyframes passBall {
    0%   {left:-600px; top:0px;}
    25%  {left:600px; top:0px;}
    50%  {left:-600px; top:0px;}
    100%  {left:600px; top:0px;}
}
